.logo {
    display: flex;
    justify-content: left;
}

.gameTitle {
    font-family: 'Fjalla One', sans-serif;
    color: white;
    font-size: 300%;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 2%;
}

.anyKey {
    font-family: 'Fjalla One', sans-serif;
    color: white;
    display: flex;
    justify-content: flex-end;
}

p {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 300%;
}

#begin {
    font-size: 140%;
}

#souls-boss {
    height: 10rem;
}

/*Attempted to hide scrollbar*/
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
    -webkit-border-radius: 6px;
    border-radius: 0px;
}